
tests/ESPWifiTelnetClientTest/settings.h
node_modules/*
circuit/candle_circuit.b#*
circuit/candle_circuit.s#*
circuit/candle_circuit_gerbers/*

circuit/candle_circuit_board_without_mask.png

circuit/candle_circuit_gerbers.zip

circuit/candle_circuit.cmp

*.dri

*.GBO

*.GBL

*.GBS

*.GML

*.gpi

*.GTL

*.GTO

*.GTP

*.GTS

*.plc

*.sol

*.stc

*.sts

circuit/candle_circuit.TXT

ESPWifiTelnetClient/settings.h

ESPWifiUDPClient/settings.h

tests/nodeUDPTest/udpServer.js

node_modules/*

ESPUdpAPCandle/settings.h
